body {
    background-color: #183846;
    height: 100%;
}

#mainpic p {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    color: #CFD5D6;
    padding: 4em;
}

#mainpic {
    padding: 10em;
    background-image: url("mainpicfour.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#aboutme {
    background-color: #CFD5D6;
    padding: 1.5em;
}

#aboutme h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

.samestyle {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.2em;
}

li {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    list-style-type: none;
    text-align: center;
    
}

#secondpic p {
    text-align: center;
    font-family: 'Monoton', sans-serif;
    font-size: 2.2em;
    color: #CFD5D6;
    padding: 4em;
}

#secondpic {
    padding: 4em;
    background-image: url("secondpic.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
